.ms--images {
  position: relative;
  overflow: hidden;
}
.ms--images.ms-container--horizontal {
  width: 100%;
  height: 400px;
  max-width: 100%;
}
.ms--images.ms-container--horizontal .ms-track {
  left: calc(50% - 350px);
}
.ms--images.ms-container--horizontal .ms-slide {
  display: inline-flex;
}
.ms--images .ms-track {
  display: flex;
  position: absolute;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  list-style: none;
}
.ms--images .ms-slide {
  align-items: center;
  justify-content: center;
  width: 700px;
  height: 400px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.ms--images {
  left: calc(50% - 280px);
}
.ms--images.ms-container--horizontal .ms-track {
  left: -70px;
}
.ms--images .ms-slide:nth-child(1) .ms-slide__image {
  background: url(../img/branding_ommpaa.jpg) no-repeat center / 100%;
}
.ms--images .ms-slide:nth-child(2) .ms-slide__image {
  background: url(../img/banner_01.jpg) no-repeat center / 100%;
}
.ms--images .ms-slide:nth-child(3) .ms-slide__image {
  background: url(../img/banner_02.jpg) no-repeat center / 100%;
}
.ms--images .ms-slide:nth-child(4) .ms-slide__image {
  background: url(../img/banner_03.jpg) no-repeat center / 100%;
}

.ms--images .ms-slide__image-container {
  width: 80%;
  height: 80%;
  background-color: rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
.ms--images .ms-slide__image {
  width: 100%;
  height: 100%;
}

.is-dragging {
	pointer-events: none;
}

.ms--numbers {
  position: relative;
  overflow: hidden;
}
.ms--numbers.ms-container--horizontal {
  width: 240px;
  height: 240px;
  max-width: 100%;
}
.ms--numbers.ms-container--horizontal .ms-track {
  left: calc(50% - 120px);
}
.ms--numbers.ms-container--horizontal .ms-slide {
  display: inline-flex;
}
.ms--numbers .ms-track {
  display: flex;
  position: absolute;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  list-style: none;
}
.ms--numbers .ms-slide {
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 240px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.ms--numbers {
  position: absolute;
  left: calc(50% - 380px);
  top: calc(50% - 300px);
  z-index: -1;
  pointer-events: none;
}
.ms--numbers .ms-slide {
  font-size: 9em;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.2);
}

.ms--titles {
  position: relative;
  overflow: hidden;
}
.ms--titles.ms-container--vertical {
  width: 400px;
  height: 170px;
  max-height: 100%;
}
.ms--titles.ms-container--vertical .ms-track {
  flex-direction: column;
  top: calc(50% - 85px);
}
.ms--titles.ms-container--vertical.ms-container--reverse .ms-track {
  flex-direction: column-reverse;
  top: auto;
  bottom: calc(50% - 85px);
}
.ms--titles.ms-container--vertical .ms-slide {
  display: flex;
}
.ms--titles .ms-track {
  display: flex;
  position: absolute;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  list-style: none;
}
.ms--titles .ms-slide {
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 170px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.ms--titles {
  position: absolute;
  left: calc(50% - 420px);
  top: calc(50% - 85px);
  z-index: 1;
  pointer-events: none;
}
.ms--titles .ms-track {
  white-space: normal;
}
.ms--titles .ms-slide {
  font-size: 3.3em;
  font-weight: 600;
}
.ms--titles .ms-slide h3 {
  margin: 0;
  font-size: 6rem;
  display: block;
  color: #f1ebe5; 
  text-shadow: 0 8px 9px #c4b59d, 0px -2px 1px #fff;
  font-weight: bold;
  letter-spacing: -4px;
}

.ms--links {
  position: relative;
  overflow: hidden;
}
.ms--links.ms-container--vertical {
  width: 120px;
  height: 60px;
  max-height: 100%;
}
.ms--links.ms-container--vertical .ms-track {
  flex-direction: column;
  top: calc(50% - 30px);
}
.ms--links.ms-container--vertical .ms-slide {
  display: flex;
}
.ms--links .ms-track {
  display: flex;
  position: absolute;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  list-style: none;
}
.ms--links .ms-slide {
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 60px;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.ms--links {
  position: absolute;
  left: calc(50% - 420px);
  top: calc(50% + 105px);
  z-index: 1;
}
.ms--links .ms-track {
  white-space: normal;
}
.ms--links .ms-slide__link {
  position: relative;
   display: block;
   margin: auto;
   padding-right: 2rem;
   padding-left: 2rem;
   font-size: 1.5rem;
   font-weight: 600;
   font-family: "Montserrat";
   line-height: 4rem;
   text-transform: uppercase;
   letter-spacing: 6px;
   color: #fff;
   background-color: rgba(28, 79, 218, 0);
   background-image: linear-gradient(150deg, rgb(224 149 75), rgb(224 149 75));
   background-size: calc(100% - 15px) calc(100% - 15px);
   background-repeat: no-repeat;
   background-position: center;
   cursor: pointer;
   user-select: none;
   box-shadow: 0 0 0 1px rgba(255, 234, 0, 0.5), inset 0 0 0 1px rgba(41, 255, 106, 0.1);
   transform: translateZ(0);
   transition: transform 0.1s, box-shadow 0.3s, background-color 0.3s linear, background-size 0.3s 0.3s ease-in-out, line-height 0.3s 0.3s,  padding-right 0.3s 0.3s, padding-left 0.3s 0.3s;
}

.ms--links .ms-slide__link:hover{
  padding-right: calc( 2rem - 10px);
   padding-left: calc( 2rem - 10px);
   background-size: calc(100%) calc(100%);
   line-height: calc( 5rem - 15px);
   background-color: #FFEB3B;
   box-shadow: 0 0 15px 1px rgba(255, 234, 0, 0.5), inset 0 0 0 1px #FFEB3B;
   transition: transform 0.1s, background-size 0.3s ease-in-out, background-color 3s 0.3s linear, line-height 0.3s,  padding-right 0.3s, padding-left 0.3s, box-shadow 1s 0.2s;
}

.ms--links .ms-slide__link:active{
  transform: scale(0.9);
}

.ms--links .ms-slide__link::before,
.ms--links .ms-slide__link::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  width: 4px;
  background-color: #FFEB3B;
  animation-name: comet;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-timing-function: linear;
  animation-delay: -0.3;
  border-radius: 50%;
  opacity: 1;
  transform: translateX(-50%) translateY(-50%) scale(1);
  transition: all 4s;
}

.ms--links .ms-slide__link:before {
  animation-duration: 2s;
}

.ms--links .ms-slide__link:after {
  animation-duration: 2.5s;
}

.ms--links .ms-slide__link:hover:before,
.ms--links .ms-slide__link:hover:after {
  opacity: 0;
  filter: blur(2px);
  transform: translateX(-50%) translateY(-50%) scale(2);
  box-shadow: 0 0 15px 1px #FFEB3B, 0 0 2px rgba(255, 234, 0, 0.7), 0 0 2px rgba(41, 255, 106, 0.5), 0 0 2px rgba(41, 255, 106, 0.3), 0 0 1px rgba(41, 255, 106, 0.25);
  transition: all 0.7s;
}

@keyframes comet {
  0% {
     top: 0;
     left: 0;
     box-shadow: 0 0 15px 1px #FFEB3B, 0 0 2px rgba(255, 234, 0, 0.7), 0 0 2px rgba(255, 234, 0, 0.5), 0 0 2px rgba(255, 234, 0, 0.3), 0 0 1px rgba(255, 234, 0, 0.25);
     animation-timing-function: ease-in;
  }
  15% {
     top: 0;
     left: 50%;
     box-shadow: 0 0 15px 1px #FFEB3B, -4px 0 2px rgba(255, 234, 0, 0.7), -8px 0 2px rgba(255, 234, 0, 0.5), -12px 0 2px rgba(255, 234, 0, 0.3), -14px 0 1px -1px rgba(255, 234, 0, 0.25);
     animation-timing-function: ease-out;
  }
  30% {
     top: 0;
     left: 100%;
     box-shadow: 0 0 15px 1px #FFEB3B, 0 0 2px rgba(255, 234, 0, 0.7), 0 0 2px rgba(255, 234, 0, 0.5), 0 0 2px rgba(255, 234, 0, 0.3), 0 0 1px rgba(255, 234, 0, 0.25);
     animation-timing-function: ease-in;
  }
  40% {
     top: 50%;
     left: 100%;
     box-shadow: 0 0 15px 1px #FFEB3B, 0 -4px 2px rgba(255, 234, 0, 0.7), 0 -8px 2px rgba(255, 234, 0, 0.5), 0 -12px 2px rgba(255, 234, 0, 0.3), 0 -14px 1px rgba(255, 234, 0, 0.25);
     animation-timing-function: ease-out;
  }
  50% {
     top: 100%;
     left: 100%;
     box-shadow: 0 0 15px 1px #FFEB3B, 0 0 2px rgba(255, 234, 0, 0.7), 0 0 2px rgba(255, 234, 0, 0.5), 0 0 2px rgba(255, 234, 0, 0.3), 0 0 1px rgba(255, 234, 0, 0.25);
     animation-timing-function: ease-in;
  }
  65% {
     top: 100%;
     left: 50%;
     box-shadow: 0 0 15px 1px #FFEB3B, 4px 0 2px rgba(255, 234, 0, 0.7), 8px 0 2px rgba(255, 234, 0, 0.5), 12px 0 2px rgba(255, 234, 0, 0.3), 14px 0 1px rgba(255, 234, 0, 0.25);
     animation-timing-function: ease-out;
  }
  80% {
     top: 100%;
     left: 0;
     box-shadow: 0 0 15px 1px #FFEB3B, 0 0 2px rgba(255, 234, 0, 0.7), 0 0 2px rgba(255, 234, 0, 0.5), 0 0 2px rgba(255, 234, 0, 0.3), 0 0 1px rgba(255, 234, 0, 0.25);
     animation-timing-function: ease-in;
  }
  90% {
     top: 50%;
     left: 0;
     box-shadow: 0 0 15px 1px #FFEB3B, 0 4px 2px rgba(255, 234, 0, 0.7), 0 8px 2px rgba(255, 234, 0, 0.5), 0 12px 2px rgba(255, 234, 0, 0.3), 0 14px 1px rgba(255, 234, 0, 0.25);
     animation-timing-function: ease-out;
  }
  100% {
     top: 0;
     left: 0;
     box-shadow: 0 0 15px 1px #FFEB3B, 0 0 2px rgba(255, 234, 0, 0.7), 0 0 2px rgba(255, 234, 0, 0.5), 0 0 2px rgba(255, 234, 0, 0.3), 0 0 1px rgba(255, 234, 0, 0.25);
     animation-timing-function: ease-in;
  }
}

.pagination {
  display: flex;
  position: absolute;
  left: calc(50% - 290px);
  top: calc(80%);
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 1;
}
.pagination__button {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 20px;
  margin: 0 5px;
  cursor: pointer;
}
.pagination__button:before, .pagination__button:after {
  content: "";
  position: absolute;
  left: 0;
  top: calc(50% - 1px);
  width: 100%;
  box-shadow: 0 1px 0 #0B0D14;
}
.pagination__button:before {
  height: 4px;
  background-color: #666;
  border-radius: 10px;
}
.pagination__button:after {
  height: 5px;
  background-color: #E0954B;
  opacity: 0;
  transition: 0.5s opacity;
  border-radius: 10px;
  top: 40%;
}

.pagination__item--active .pagination__button:after {
  opacity: 1;
}

.slide-tit{
  text-align: center;
  color: #fff;
  font-size: 4rem;
}

.slide-tit p{
  padding-top: 100px;
}

@media screen and (max-width: 860px) {
  .ms--numbers {
    left: calc(50% - 120px);
  }

  .ms--titles {
    left: calc(50% - 200px);
    top: calc(50% - 135px);
    text-align: center;
  }

  .ms--links {
    left: calc(50% - 60px);
    top: calc(50% + 80px);
  }

  .pagination {
    left: 50%;
    top: calc(100% - 150px);
    transform: translateX(-50%);
  }
}
@media screen and (max-width: 600px) {
  .ms--images {
    overflow: visible;
  }
}
@media screen and (max-width: 400px) {
  .ms--titles .ms-slide {
    transform: scale(0.8);
  }
}
*, *:before, *:after {
  box-sizing: border-box;
}

body{
  overflow-x: hidden;
}

a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.container:before {
  content: "";
  position: absolute;
  left: -150%;
  top: 0;
  width: 300%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  transform: rotate(45deg);
  z-index: -1;
}


.sliders-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.pagination {
  top: calc(100% - 80px);
}

@media screen and (min-width: 1400px){
  .ms--images .ms-slide__image-container {
    width: 90%;
    height: 90%;
    background-color: rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.pagination {
  top: calc(100% - 150px);
}
} 
